* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #E5E5E5; */
}

.book-container {
    display: flex;
    width: 1140px;
    margin: 100px auto;
}



.book-img img {
    width: 409px;
    height: 368px;
    display: flex;
    padding-top: 50px;
    padding-left: 93px;
    align-items: center;
    justify-content: center;
}

.btn {
    background: #E16A00;
    padding: 9px 20px;
    border: none;
    color: white;
    margin-top: 40px;
}

.year {
    background: #2F80ED;
    color: white;
    width: 69px;
    height: 36px;
    text-align: center;
    padding: 10px 12px;
    margin-top: 40px;
}

.book-name {

    font-size: 35px;
    line-height: 196.19%;
    color: #241400;
}

.ago {

    font-size: 16px;
    line-height: 196.19%;
    font-weight: bold;
    color: #241400;
}

.writer {

    font-size: 22px;
    line-height: 196.19%;


    color: #241400;
}
.book-text{
    width: 50%;
}

.book-about {
    font-weight: 500;
    font-size: 14px;
    line-height: 196.19%;
    color: #241400;
}
.btn1{
    border: none;
    outline: none;
    background: transparent;
}
.btn1 img {
    width: 40px;
    height: 50px;
    vertical-align: middle;
    color: orange;
}

.inpt {
    width: 507.19px!important;
    height: 58.52px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 14px;

}
.book-comment-write{
    padding-left: 20px;
}
.book-comment{
    width: 80%;
    margin: 0 auto;
}
.book-comment-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: black;
    width: 680px;
    margin-top: 50px;
    padding: 15px 20px;
    margin-left: 15px;
}

.anonim {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #232323;
}

.time {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
    margin-left: 15px;
}

.comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232323;
}
.social {
    margin-top: 70px;
}

.social-head {
    text-align: center;
}

.social-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-main img {
    margin: 17px;
}
@media only screen and (max-width: 1200px) {
    .book-container{
        width: 1000px;
    }
    .book-text{
        padding-left: 10px;
    }
}
@media only screen and (max-width: 1100px) {
    .book-container{
        width: 800px;
    }
    .book-text{
        padding-left: 15px;
    }
}
@media only screen and (max-width: 900px) {
    .book-container{
        width: 600px;
        display: block;
    }
    .book-text{
        width: 100%;
        padding: 20px 40px;
    }
    .book-comment{
        width: 90%;
    }
    .book-comment-box {
        width: 600px;
        margin-left: 0px;
    }
    .book-img img{
        padding-left: 10px;
    }
}
@media only screen and (max-width: 720px) {
    .book-container{
        width: 500px;
        display: block;
    }
    .inpt{
        width: 400px!important;
    }
    .book-comment-box {
        width: 500px;
    }
    .book-comment{
        width: 90%;
    }
}
@media only screen and (max-width: 620px) {
    .book-comment{
        width: 90%;
    }
    .book-comment-box {
        width: 400px;
    }

}
@media only screen and (max-width: 520px) {
    .book-container{
        width: 400px;
    }
    .inpt{
        width: 300px!important;
    }
    .book-comment-box {
        width: 400px;
        margin-left: 0px;
    }
}
